* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
.container {
    max-width: 1140px;
    cursor: pointer;
    margin: 0 auto;
}
.row,
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

ol,
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.text-center {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
